In [1]:
import os, sys 
import pandas as pd 
import json
from tqdm.auto import tqdm 

from settings import * 
from utils import *

In [2]:
photo_paths = os.path.join(YELP_DIR, 'yelp_photos-2\\photos.json')
item_paths = os.path.join(YELP_DIR, 'yelp_dataset-2\\yelp_academic_dataset_business.json')
user_paths = os.path.join(YELP_DIR, 'yelp_dataset-2\\yelp_academic_dataset_user.json')
review_paths = os.path.join(YELP_DIR, 'yelp_dataset-2\\yelp_academic_dataset_review.json')

In [3]:
def json2df(path):
    json_data = []
    with open(path, 'r') as f:
        for line in tqdm(f, desc='transformating json to dataframe...'):
            json_data.append(json.loads(line))
    return pd.json_normalize(json_data)

In [4]:
photo_info = json2df(photo_paths)
item_info = json2df(item_paths)
user_info = json2df(user_paths)
# review_info = json2df(review_paths)

transformating json to dataframe...: 0it [00:00, ?it/s]

transformating json to dataframe...: 0it [00:00, ?it/s]

transformating json to dataframe...: 0it [00:00, ?it/s]

In [16]:
outs = pd.merge(item_info, photo_info, how='inner').loc[:, ['business_id', 'stars', 'photo_id', 'label']]
outs = outs[outs.loc[:, 'label'] == 'food']
outs = outs.drop_duplicates('business_id')

In [17]:
# num_items = 25,959
outs

                   business_id  stars                photo_id label
0       MTSW4McQd7CbVtyjqoe9mw    4.0  N3tTxsgpFH91wzo4gZm19A  food
7       CF33F8-E6oudUQ46HnavjQ    2.0  ZXMF6AHcxI9m03nFrJbpZQ  food
13      bBDDEgkFA1Otx9Lfe7BZUQ    1.5  680ptwxpj9uCtkAqFO--wA  food
19      il_Ro8jwPlHresjw9EGmBg    2.5  z93byFmJdICS1tSSY3NATw  food
30      0bPLkL0QhhPO5kt1_EXmNQ    4.5  MKA75vYrSLhVz3Yvk3RQWw  food
...                        ...    ...                     ...   ...
200051  sf_oQ62L8UEnOOLf00nNGA    3.0  elG0-gl62YG6kJllNaKJYQ  food
200055  WXNag-tmudrFHFlfNLogWg    4.0  ctmY6HSMxrbRbSp7INUnDQ  food
200058  2MAQeAqmD8enCT2ZYqUgIQ    4.0  zBJS5eNRiov8XgMCs-hsoA  food
200068  w_4xUt-1AyY2ZwKtnjW0Xg    4.5  u8o67Ay3q_KRD7t3ylAowQ  food
200094  WnT9NIzQgLlILjPT0kEcsQ    4.5  igkn2yYqmoFf7sM-to-byA  food

[25959 rows x 4 columns]